<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>

        <section class="layout-content" layout:fragment="corpo">



            <div class="album py-5 bg-light">
                <div class="container">

                    <div class="d-flex justify-content-center">
                        <div class="col-md-10">

                            <div th:replace="fragments/alert :: alerta-sucesso"></div>	

                            <form th:action="${cargo.idCargo == null} ? @{/cargos/salvar} : @{/cargos/editar}"
                                  th:object="${cargo}"	method="POST" class="was-validated">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="titulo" class="form-group">Nome </label>
                                        <input type="text" class="form-control"
                                               th:field="*{titulo}" id="titulo" placeholder="Analista..."
                                               required/>
                                        <div class="invalid-feedback">Nome  é requerido.</div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="departamentos" class="form-group">Título </label>
                                        <select  id="departamentos" th:field="*{departamentos}" class="form-control">
                                            <option th:each="departamentos : ${departamentos}" th:value="${departamentos.id}" th:text="${departamentos.depa}" selected="selected"/>
                                        </select>
                                        <div class="invalid-feedback">Nome  é requerido.</div>
                                    </div>

                                </div>

                                <input type="hidden" th:field="*{idCargo}"/>	

                                <div class="form-group row">
                                    <div class="col-sm-10">
                                        <button type="submit" class="btn btn-primary"
                                                data-toggle="tooltip" data-placement="right" title="Salvar">
                                            <i class="fas fa-save"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>

                            <hr/>

                            <h2>Lista de Departamentos</h2>

                            <table id="table-cargos" class="table table-sm table-striped table-bordered nowrap" style="width:100%">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Cargos</th>
                                        <th scope="col">Departamentos</th>
                                        <th scope="col">Editar</th>
                                        <th scope="col">Excluir</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>


                </main>
        </section>
        <script src="../../static/js/cargos.js" th:src="@{/js/cargos.js}" th:fragment="js"></script>
        <script th:inline="javascript" th:fragment="inlinescript"></script>
    </body>
</html>