<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>

        <section class="layout-content" layout:fragment="corpo">

           

            <div class="album py-5 bg-light">
                <div class="container">

                    <div class="d-flex justify-content-center">
                        <div class="col-md-10">

                            <div th:replace="fragments/alert :: alerta-sucesso"></div>	

                            <form th:action="${fornecedor.id == null} ? @{/fornecedores/salvar} : @{/fornecedores/editar}"
                                  th:object="${fornecedor}"	method="POST" class="was-validated">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="nome" class="form-group">Nome </label>
                                        <input type="text" class="form-control"
                                               th:field="*{nome}" id="nome" placeholder="Cmil..."
                                               required/>
                                        <div class="invalid-feedback">Nome  é requerido.</div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="sobrenome" class="form-group">Razão Social </label>
                                        <input type="text" class="form-control"
                                               th:field="*{sobrenome}" id="sobrenome" placeholder="Cmil - Construção e Manutenção Industrial Ltda"
                                               required/>
                                        <div class="invalid-feedback">Razão Social  é requerido.</div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <label for="nascimento">Data da Abertura</label> 
                                        <input type="date" class="form-control" id="nascimento" th:field="*{nascimento}" />

                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="cnpj">CNPJ</label> 
                                        <input type="text" class="form-control" id="cnpj" placeholder="000000000000000000"
                                               th:field="*{cnpj}" required />
                                        <div class="invalid-feedback">CNPJ é requerido.</div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="ie">IE</label> 
                                        <input type="text" class="form-control" id="ie" placeholder="000000000000"
                                               th:field="*{ie}" required />
                                        <div class="invalid-feedback">IE é requerido.</div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="im">IM</label> 
                                        <input type="text" class="form-control" id="im" th:field="*{im}" />

                                    </div>
                                </div>



                                <input type="hidden" th:field="*{id}"/>	

                                <div class="form-group row">
                                    <div class="col-sm-10">
                                        <button type="submit" class="btn btn-primary" data-toggle="tooltip"
                                                data-placement="right" title="Salvar"><i class="fas fa-save"></i></button>
                                    </div>
                                </div>
                            </form>

                            <hr/>

                            <h2>Lista de Fornecedores</h2>

                            <table id="table-fornecedor" class="table table-sm table-striped table-bordered nowrap"
                                   style="width: 100%">
                                <thead class="thead-dark">
                                <th scope="col">#</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Razão Social</th>
                                <th scope="col">Abertura</th>
                                <th scope="col">CNPJ</th>
                                <th scope="col">IE</th>
                                <th scope="col">IM</th>
                                <th scope="col">Editar</th>
                                <th scope="col">Endereco</th>
                                <th scope="col">Telefone</th>                               
                                <th scope="col">Excluir</th>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </main>

    </section>
    <script	th:src="@{/js/fornecedor.js(v=${version})}" th:fragment="js"></script>
    <script th:inline="javascript" th:fragment="inlinescript">

    </script>
</body>
</html>