<html lang="pt" xmlns:th="www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:with="version=${#strings.randomAlphanumeric(3)}">
    <head th:replace="fragments/base :: baseHead(~{::title}, ~{::link})">
        <title>Cadastrar-se</title>

        <link th:href="@{/css/recuperar-senha.css(v=${version}) }" rel="stylesheet" />
        <link th:rel="stylesheet" type="text/css" media="all"  th:href="@{/css/index.css}"/>
        <link rel="icon" th:href="@{/image/favicon.ico}" />
    </head>
    <body>
        <div th:insert="fragments/menuindex" />

        <section class="layout-content" layout:fragment="corpo">	
            <main role="main">

                <div class="album py-5 bg-light">
                    <div class="container d-flex justify-content-center">

                        <form class="form-signin was-validated" method="POST" 
                              th:action="@{/u/cadastro/financeiro/salvar}" th:object="${usuario}">		
                            <div class="text-center mb-4">                               

                                    <p class="font-weight-lighter">Seja bem-vindo.</p>
                                    <p class="text-muted">Crie seu cadastro aqui!</p>
                            </div>

                            <div th:if="${#fields.hasAnyErrors()}">	
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <div th:each="error : ${#fields.detailedErrors()}">
                                        <i class="oi oi-warning"></i>
                                        <span th:text="${error.message}"></span>
                                    </div>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>	
                            <div class="form-label-group">
                                <input type="email" id="inputEmail" class="form-control" placeholder="e-mail" 
                                       th:field="*{email}" required autofocus />
                                <label for="inputEmail">Email</label>
                                <div class="invalid-feedback">
                                    Use seu email como login.
                                </div>
                            </div>

                            <div class="form-label-group">
                                <input type="password" id="inputPassword" class="form-control"
                                       placeholder="Password" th:field="*{password}" required /> 
                                <label for="inputPassword">Senha</label>
                                <div class="invalid-feedback">Digite uma senha.</div>	
                            </div>

                            <button class="btn btn-lg btn-primary btn-block" type="submit">Confirmar</button>
                          
                               
                        </form>
                    </div>
                </div>
            </main>
        </section>
        <script th:src="~{}" th:fragment="js"></script>
        <script th:inline="javascript" th:fragment="inlinescript"></script>
</html>