<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>

        <section class="layout-content" layout:fragment="corpo">



            <div class="album py-5 bg-light">
                <div class="container">

                    <div class="d-flex justify-content-center">
                        <div class="col-md">

                            <div th:replace="fragments/alert :: alerta-sucesso"></div>	

                            <form th:action="${empresa.id == null} ? @{/empresas/salvar} : @{/empresas/editar}"
                                  th:object="${empresa}"	method="POST" class="was-validated">

                                <div class="form-group row">
                                    <label for="nome" class="col-sm-4 col-form-label">Nome </label>
                                    <div class=" col-md">
                                        <input type="text" class="form-control" th:field="*{nome}" id="nome" placeholder="Cmil..." required/>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="sobrenome" class="col-sm-4 col-form-label">Razão Social </label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" th:field="*{sobrenome}" id="sobrenome"   required/>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label for="nascimento" class="col-sm-4 col-form-label">Data da Abertura</label> 
                                    <div class="col-md-3">
                                        <input type="date" class="form-control" id="nascimento" th:field="*{nascimento}" />

                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="cnpj" class="col-sm-4 col-form-label">CNPJ</label> 
                                    <div class=" col-md-3">
                                        <input type="text" class="form-control" id="cnpj" placeholder="000000000000000000" th:field="*{cnpj}" required />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="ie" class="col-sm-4 col-form-label">IE</label> 
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" id="ie" placeholder="000000000000" th:field="*{ie}" required />

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="im" class="col-sm-4 col-form-label">IM</label> 
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" id="im" th:field="*{im}" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="socios" class="col-sm-4 col-form-label">Sócios</label> 
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" id="socios" th:field="*{socios}" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="capital" class="col-sm-4 col-form-label">Capital</label> 
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" id="capital" th:field="*{capital}" />
                                    </div>
                                </div>

                                <input type="hidden" th:field="*{id}"/>	

                                <div class="form-group row">
                                    <div class="col-sm-10">
                                        <button type="submit" class="btn btn-primary" data-toggle="tooltip"
                                                data-placement="right" title="Salvar"><i class="fas fa-save"></i></button>
                                    </div>
                                </div>
                            </form>

                            <hr/>

                            <h2>Lista </h2>

                            <table id="table-empresa" class="table table-sm table-striped table-bordered nowrap"
                                   style="width: 100%">
                                <thead class="thead-dark">
                                <th scope="col">#</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Razão Social</th>
                                <th scope="col">Abertura</th>
                                <th scope="col">CNPJ</th>
                                <th scope="col">IE</th>
                                <th scope="col">IM</th>                                
                                <th scope="col">SÓCIOS</th>                                
                                <th scope="col">CAPITAL</th>                                
                                <th scope="col">Editar</th>
                                <th scope="col">Endereço</th>
                                <th scope="col">Telefone</th>
                                <th scope="col">E-mail</th>
                                <th scope="col">Excluir</th>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </main>

    </section>
    <script	th:src="@{/js/empresa.js(v=${version})}" th:fragment="js"></script>
    <script th:inline="javascript" th:fragment="inlinescript">

    </script>
</body>
</html>