<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>

        <section class="layout-content" layout:fragment="corpo">
            <main role="main">


                <div class="album py-5 bg-light">
                    <div class="container">

                        <div class="row">
                            <div class="col-md">

                                <h2>Funcionários Cadastrados</h2>

                                <table id="table-funcionario" class="table table-sm table-striped table-bordered nowrap" style="width:100%">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Nome </th>
                                            <th scope="col">Sobrenome</th>
                                            <th scope="col">Nascimento</th>

                                            <th scope="col">CPF</th>
                                            <th scope="col">RG</th>
                                            <th scope="col">PASSAPORTE</th>
                                            <th scope="col">MÃE</th>
                                            <th scope="col">PAI</th>
                                            <th scope="col">ES</th>
                                            <th scope="col">GENERO</th>
                                            <th scope="col">FUNÇÃO</th>
                                            <th scope="col">ADMISSÃO</th>
                                            <th scope="col">SALÁRIO</th>
                                            <th scope="col">NATURALIDADE</th>
                                            <th scope="col">EMPRESA</th>
                                            <th scope="col">Editar</th>
                                            <th scope="col">Endereço</th>
                                            <th scope="col">Telefone</th>
                                            <th scope="col">Excluir</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </main>
        </section>
        <script src="../../static/js/funcionario.js(v=${version})" th:src="@{/js/funcionario.js}" th:fragment="js"></script>
        <script th:inline="javascript" th:fragment="inlinescript"></script>
    </body>
</html>